* {
  box-sizing: border-box; }

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  margin: 0;
  position: relative; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  color: #f18200;
  text-decoration: none;
  transition: color .3s, background .3s; }

a:hover, a:focus {
  color: #3397db;
  text-decoration: none; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 1.3em; }

h1 {
  font-size: 19px; }

h2 {
  font-size: 16px;
  font-weight: 400; }

h3 {
  font-weight: 500; }

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

main {
  background-color: #f3f3f3;
  min-height: 100%; }

footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: .1em;
  padding: 25px;
  text-align: center;
  text-transform: uppercase; }

select {
  border: none;
  height: 35px;
  font-size: 14px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 0 10px; }

.header_fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

.footer_fixed {
  bottom: 0;
  position: absolute;
  width: 50%; }

/* ====================== Navigation ====================== */
nav {
  padding: 25px 0;
  background-color: #333;
  text-align: center; }
  nav h1 {
    margin: 0;
    color: #fff;
    font-size: 14pt;
    letter-spacing: .6em; }
    nav h1 a {
      color: #fff; }

/* ====================== Breadcrumbs ====================== */
.breadcrumb {
  padding: 13px 20px 15px;
  background-color: #eee;
  width: 50%; }
  .breadcrumb li {
    display: inline; }
    .breadcrumb li + li:before {
      padding: 8px;
      content: "/\00a0"; }
    .breadcrumb li a {
      color: #3397db; }
      .breadcrumb li a:hover {
        color: #01447e;
        text-decoration: underline; }

.map-container_fixed {
  background: #01447e none repeat scroll 0 0;
  height: calc(100vh - 77px);
  position: fixed;
  right: 0;
  top: 77px;
  width: 50%; }

/* ====================== Map ====================== */
.map {
  height: 400px;
  width: 100%;
  background-color: #ccc; }
  .map_fixed {
    background-color: #ccc;
    height: 100%;
    width: 100%; }

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  background-color: #3397db; }
  .filter-options h2 {
    flex: 0 0 100%;
    color: #fff;
    margin: 0; }
  .filter-options select {
    margin: 10px 20px 10px 0;
    min-width: 100%; }
    @media (min-width: 768px) {
      .filter-options select {
        min-width: 200px; } }

/* ====================== Restaurant Listing ====================== */
.restaurants-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 20px 10px 0;
  padding-bottom: 20px;
  text-align: center; }
  .restaurants-list__title {
    color: #f18200;
    font-size: 16px;
    margin: 20px 0 10px;
    letter-spacing: 0; }
  .restaurants-list li {
    padding: 0 10px 20px; }
    @media (min-width: 768px) {
      .restaurants-list li {
        width: 50%; } }
    @media (min-width: 1024px) {
      .restaurants-list li {
        width: 33.3333%; } }
    @media (min-width: 1200px) {
      .restaurants-list li {
        width: 25%; } }
  .restaurants-list__thumb {
    background-color: #fff;
    border: 2px solid #ccc;
    min-height: 380px;
    padding: 0 30px 25px;
    text-align: left; }
    .restaurants-list__thumb a {
      background: #f18200;
      border-bottom: 3px solid #eee;
      color: #fff;
      display: block;
      font-size: 10pt;
      margin: 15px 0 0;
      padding: 8px 30px 10px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase; }
      @media (min-width: 768px) {
        .restaurants-list__thumb a {
          display: inline-block; } }
      .restaurants-list__thumb a:hover {
        background: #3397db; }
  .restaurants-list p {
    margin: 0;
    font-size: 11pt; }
  .restaurants-list__img {
    background-color: #ccc;
    display: block;
    margin: 0;
    min-height: 248px;
    min-width: 100%;
    object-fit: cover; }

.restaurant {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 120px 20px 30px;
  width: 50%; }
  .restaurant__name {
    color: #f18200;
    font-size: 20pt;
    font-weight: 200;
    margin: 30px 0 15px;
    text-transform: uppercase;
    line-height: 1.1; }
  .restaurant__img {
    display: block;
    border-top-left-radius: 35px; }
  .restaurant__address {
    font-size: 12pt;
    margin: 10px 0; }
  .restaurant__cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 0.5em;
    line-height: 2em;
    margin: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
    border-bottom-right-radius: 35px; }
  .restaurant__hours td {
    color: #666; }

.reviews__container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 20px 80px;
  width: 50%; }
  .reviews__container h2 {
    color: #f18200;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 15px; }

.reviews__list {
  margin: 0;
  padding: 0; }
  .reviews__list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0 20px 20px;
    position: relative;
    border-radius: 35px 0 35px 0; }
    .reviews__list li p {
      margin: 0 0 10px; }
