@charset "utf-8";

@import 'variables/colors';
@import 'variables/breakpoints';
@import 'variables/font';

@import './layout/html';
@import './layout/header';
@import './layout/footer';

@import './components/nav';
@import './components/breadcrumbs';
@import './components/map-container';
@import './components/map';
@import './components/filter-options';
@import './components/restaurants-list';
@import './components/restaurant';
@import './components/reviews';
@import './components/add-review';