/* ====================== Breadcrumbs ====================== */

.breadcrumb {
  padding: 13px 20px 15px;
  background-color: #eee;

  @media (min-width: $tablet-portrait) {
    width: 50%;
  }
  
  li {
    display: inline;
    
    & + li:before {
      padding: 8px;
      content: "/\00a0";
    }
    
    a {
      color: $lightBlue;
      
      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}
