/* ====================== Restaurant Filtering ====================== */

.filter-options {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  background-color: $lightBlue;
  
  h2 {
    flex: 0 0 100%;
    color: #fff;
    margin: 0;
  }
  
  select {
    margin: 10px 20px 10px 0;
    min-width: 100%;
    
    @media (min-width: $tablet-portrait) {
      min-width: 200px;
    }
  }
}