/* ====================== Map ====================== */

.map {
  height: 400px;
  width: 100%;
  background-color: $lightGrey;
  &_fixed {
    background-color: $lightGrey;
    height: 100%;
    width: 100%;
  }
}