.restaurant {
  &__container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 140px 40px 30px;
    width: 50%;
  }
  
  &__name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
  }
  
  &__img {
    width: 90%;
  }
  
  &__address {
    font-size: 12pt;
    margin: 10px 0;
  }
  
  &__cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
  }
  
  &__hours {
    td {
      color: #666;
    }
  }
}