.reviews{
  &__container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 30px 20px 80px;
    width: 50%;
    
    h2 {
      color: $orange;
      font-size: 24pt;
      font-weight: 300;
      letter-spacing: -1px;
      line-height: 1;
      margin-bottom: 15px;
    }
  }
  
  &__list {
    margin: 0;
    padding: 0;
    
    li {
      background-color: #fff;
      border: 2px solid #f3f3f3;
      list-style-type: none;
      margin: 0 0 20px;
      padding: 0 20px 20px;
      position: relative;
      border-radius: 35px 0 35px 0;
      
      p {
        margin: 0 0 10px;
      }
    }
  }
}