.reviews{
  &__container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 30px 20px 80px;

    @media (min-width: $tablet-portrait) {
      width: 50%;
    }
    
    h2 {
      color: $orange;
      font-size: 24pt;
      font-weight: 300;
      letter-spacing: -1px;
      line-height: 1;
      margin-bottom: 15px;
    }
  }
  
  &__list {
    margin: 0;
    padding: 0;
    
    li {
      background-color: #fff;
      border: 2px solid #f3f3f3;
      list-style-type: none;
      margin: 0 0 20px;
      padding: 0 20px 20px;
      position: relative;
      border-radius: 35px 0 35px 0;
      
      p {
        margin: 0 0 10px;
      }
    }
  }

  &-item {
    &__rating {
      display: inline-block;
      background: $orange;
      color: #fff;
      border-radius: 2px;
      padding: 3px 10px 2px;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: .1em;
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $darkGrey;
      color: #fff;
      margin: 0 -20px 15px;
      padding: 10px 20px;
      border-top-left-radius: 35px;
    }

    &__name {
      font-size: 18px;
    }

    &__date {
      color: $lightGrey;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 1);
    }
  }
}