.reviews{
  &__container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 30px 40px 80px;
    width: 50%;
    
    h2 {
      color: #f58500;
      font-size: 24pt;
      font-weight: 300;
      letter-spacing: -1px;
      padding-bottom: 1pt;
    }
  }
  
  &__list {
    margin: 0;
    padding: 0;
    
    li {
      background-color: #fff;
      border: 2px solid #f3f3f3;
      display: block;
      list-style-type: none;
      margin: 0 0 30px;
      overflow: hidden;
      padding: 0 20px 20px;
      position: relative;
      width: 85%;
      
      p {
        margin: 0 0 10px;
      }
    }
  }
}